/* Reset default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styling */
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
  }

  /* Container styling */
  .container4 {
    display: grid;
    grid-template-areas:
    'item8 item9 item10'
    ;
    padding: 20px;
    grid-gap: 10px;
  }
  .item8{
    grid-area: item8;
  }
  .item9{
    grid-area: item9;
  }
  .item10{
    grid-area: item10;
  }
  
  .container {
    display: grid;
    grid-template-areas:
    'item1 item2'
    ;
    padding: 20px;
    grid-gap: 10px;
  }
  .item1 {
    grid-area: item1;
    border: 1px solid #000;
    padding: 10px;
    display: grid;
    grid-template-areas:
    'ugol'
    'tons_p_h'
    'totals';
  grid-gap: 10px;
  }

  .item2 {
    grid-area: item2;
    display: grid;
    border: 1px solid #000;
    padding: 10px;
    grid-template-areas:
    'mazut '
    'mazut_p_h'
    'totals2 ';
  grid-gap: 10px;
  }
  .mazut_p_h{
    grid-area: mazut_p_h;
  }
  .tons_p_h{
    grid-area: tons_p_h;
  }
  .ugol{
    grid-area: ugol;
  }
  .mazut{
    grid-area: mazut;
  }
  .totals{
    grid-area: totals;
  }
  .totals2{
    grid-area: totals2;
  }
  .container2 {
    display: grid;
    grid-template-areas:
    'item3 item4 item5'
    ;
    grid-gap: 10px;
    padding: 20px;
  }
  .item3 {
    grid-area: item3;
    display: grid;
    border: 1px solid #000;
    padding: 10px;
    grid-template-areas:
    'kotel'
    'ugols'
    'mazuts'
    'k_p_h'
    'totals'
    'fakels'
    'startB';
  grid-gap: 10px;
  }
  .item4 {
    grid-area: item4;
    display: grid;
    border: 1px solid #000;
    padding: 10px;
    grid-template-areas:
    'kotel'
    'ugols'
    'mazuts'
    'k_p_h'
    'totals'
    'fakels'
    'startB';
  grid-gap: 10px;
  }
  .item5 {
    grid-area: item5;
    display: grid;
    border: 1px solid #000;
    padding: 10px;
    grid-template-areas:
    'kotel'
    'ugols'
    'mazuts'
    'k_p_h'
    'totals'
    'fakels'
    'startB';
  grid-gap: 10px;
  }
  .fakels{
    grid-area: fakels;
  }
  .ugols{
    grid-area: ugols;
  }
  .mazuts{
    grid-area: mazuts;
  }
  .k_p_h{
    grid-area: k_p_h;
  }
  .totals{
    grid-area: totals;
  }
  .startB{
    grid-area: startB;
    width: 100px;
  }

  .container3 {
    display: grid;
    grid-template-areas:
    'item6 item7'
    ;
    grid-gap: 10px;
    padding: 20px;
  }
  .item6 {
    grid-area: item6;
    display: grid;
    border: 1px solid #000;
    padding: 10px;
    grid-template-areas:
    'tur'
    'par'
    'energy'
    'start_t';
  grid-gap: 10px;
  }

  
  
  .item7 {
    grid-area: item7;
    display: grid;
    border: 1px solid #000;
    padding: 10px;
    grid-template-areas:
    'tur'
    'par'
    'energy'
    'start_t';
  grid-gap: 10px;
  }
  .tur1{
    grid-area: tur1;
  }
  .mWL{
    grid-area: mWL;
  }
  .mW{
    grid-area: mW;
  }
  .incmW{
    grid-area: incmW;
  }
  .decmW{
    grid-area: decmW;
  }
  .e_totalL{
    grid-area: e_totalL;
  }
  .e_total{
    grid-area: e_total;
  }
  .start_t{
    grid-area: start_t;
    width: 100px;
  }
  .tur2{
    grid-area: tur2;
  }
  .mWL2{
    grid-area: mWL2;
  }
  .mW2{
    grid-area: mW2;
  }
  .incmW2{
    grid-area: incmW2;
  }
  .decmW2{
    grid-area: decmW2;
  }
  .e_totalL2{
    grid-area: e_totalL2;
  }
  .e_total2{
    grid-area: e_total2;
  }
  .start_t2{
    grid-area: start_t2;
    width: 100px;
  }
  /* Heading styling */
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Text styling */
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }
  
  /* Link styling */
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Button styling */
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .fakel {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .fakel:hover {
    background-color: #8b0000;
  }
  .z {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .button:hover {
    background-color: #0056b3;
  }
  