{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
  
  <link rel="stylesheet" type="text/css" href="{% static 'styles2.css' %}">
  <style>
    .tooltip {
    position: absolute;
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 12px;
    pointer-events: none; /* Prevent the tooltip from blocking mouse events on the graph */
}
#graph-container svg {
      background-color: lightgray; /* Set your desired background color here */
    }
    #graph-container2 svg {
      background-color: lightgray; /* Set your desired background color here */
    }
  </style>
  <script>
    var pressed=0;
    var canvas;
    var ctx;
    
    var lineSegments = [
        { x1: 1085, y1: 130, x2: 1085, y2: 210, color: "grey" },
        { x1: 1087, y1: 210, x2: 935, y2: 210, color: "grey" },
        { x1: 935, y1: 210, x2: 935, y2: 462, color: "grey" },
        { x1: 935, y1: 460, x2: 1020, y2: 460, color: "grey" },
        { x1: 935, y1: 210, x2: 485, y2: 210, color: "grey" },
        { x1: 485, y1: 210, x2: 485, y2: 462, color: "grey" },
        { x1: 485, y1: 460, x2: 570, y2: 460, color: "grey" },
        { x1: 485, y1: 210, x2: 33, y2: 210, color: "grey" },
        { x1: 35, y1: 210, x2: 35, y2: 462, color: "grey" },
        { x1: 35, y1: 460, x2: 120, y2: 460, color: "grey" },
        { x1: 600, y1: 130, x2: 600, y2: 230, color: "grey" },
        { x1: 600, y1: 230, x2: 917, y2: 230, color: "grey" },
        { x1: 915, y1: 230, x2: 915, y2: 522, color: "grey" },
        { x1: 915, y1: 520, x2: 1020, y2: 520, color: "grey" },
        { x1: 600, y1: 230, x2: 465, y2: 230, color: "grey" },
        { x1: 465, y1: 230, x2: 465, y2: 522, color: "grey" },
        { x1: 465, y1: 520, x2: 600, y2: 520, color: "grey" },
        { x1: 465, y1: 230, x2: 13, y2: 230, color: "grey" },
        { x1: 15, y1: 230, x2: 15, y2: 522, color: "grey" },
        { x1: 15, y1: 520, x2: 120, y2: 520, color: "grey" },

        { x1: 240, y1: 350, x2: 240, y2: 700, color: "grey" },
        { x1: 690, y1: 350, x2: 690, y2: 700, color: "grey" },
        { x1: 1140, y1: 350, x2: 1140, y2: 700, color: "grey" },
        { x1: 240, y1: 750, x2: 240, y2: 820, color: "grey" },
        { x1: 690, y1: 750, x2: 690, y2: 820, color: "grey" },
        { x1: 1140, y1: 750, x2: 1140, y2: 820, color: "grey" },
        { x1: 690, y1: 820, x2: 1140, y2: 820, color: "grey" },
        { x1: 240, y1: 820, x2: 690, y2: 820, color: "grey" },
        { x1: 850, y1: 820, x2: 850, y2: 900, color: "grey" },
        { x1: 450, y1: 820, x2: 450, y2: 900, color: "grey" },
      ];

      function drawLineSegment(segment) {
        ctx.beginPath();
        ctx.moveTo(segment.x1, segment.y1);
        ctx.lineTo(segment.x2, segment.y2);
        ctx.strokeStyle = segment.color;
        ctx.stroke();
      }

      function drawLineSegments() {
        ctx.clearRect(0, 0, canvas.width, canvas.height);

        for (var i = 0; i < lineSegments.length; i++) {
          drawLineSegment(lineSegments[i]);
        }
      }

      function changeSegmentColor(segmentIndex, color) {
        lineSegments[segmentIndex].color = color;
        drawLineSegments();
      }
      
    function animate(duration) {
        const start = Date.now();
        function step1() {
            const elapsed = Date.now() - start;
            const progress = Math.min((elapsed / duration) * 100, 100);
            setFillHeight(progress);
            if (progress < 100) {
            requestAnimationFrame(step1);
            }
        }
        function step2() {
            const elapsed = Date.now() - start;
            const progress = 100 - Math.min((elapsed / duration) * 100, 100);
            setFillHeight(progress);
            if (progress > 0) {
            requestAnimationFrame(step2);
            }
        }
        if(pressed === 0){
            requestAnimationFrame(step1);
            pressed =1;
            } else {
            requestAnimationFrame(step2);
            pressed=0;
        }
    } 
    function setFillHeight(progress) {
        var fillElement = document.querySelector(".fill");
        if(fillElement !== null){
            fillElement.style.height = progress + '%';
            fillElement.style.transform = `scaleY(${progress / 100})`;
        } 
        
    }
    
    var variable=0;
    var variable2=0;
    var variable3 = 0;
    var variables = []
    for(var i=0; i<4; i++){
        variables[i]=0;
    }
    var variables2 = []
    for(var i=0; i<4; i++){
        variables2[i]=0;
    }
    var variables3 = []
    for(var i=0; i<4; i++){
        variables3[i]=0;
    }
    var z1=0;
    var z2=0; 
    var z3=0;
    var height =0;
    var height2 = 0;
    var height3 = 0;
    setInterval(() => {
    // Fetch the value from the source page
    var canvas = document.getElementById("canvas");
    var ctx = canvas.getContext("2d");
    var progressBar = document.getElementById('tempBar1');
    var progressBar2 = document.getElementById('tempBar2');
    var progressBar3 = document.getElementById('tempBar3');
    var dataReceived = JSON.parse(localStorage.getItem('data'));
    var dataReceived3 = JSON.parse(localStorage.getItem('mazut'));
    var dataReceived2 = JSON.parse(localStorage.getItem('imageChange'));
    var dataReceived4 = JSON.parse(localStorage.getItem('imageMazut'));
    var dataReceived5 = JSON.parse(localStorage.getItem('kotel1'));
    var dataReceived6 = JSON.parse(localStorage.getItem('kotel2'));
    var dataReceived7 = JSON.parse(localStorage.getItem('kotel3'));
    var dataReceived8 = JSON.parse(localStorage.getItem('ugol1'));
    var dataReceived9 = JSON.parse(localStorage.getItem('ugol2'));
    var dataReceived10 = JSON.parse(localStorage.getItem('ugol3'));
    var dataReceived11 = JSON.parse(localStorage.getItem('bar1'));
    var dataReceived12 = JSON.parse(localStorage.getItem('par'));
    var dataReceived13 = JSON.parse(localStorage.getItem('bar2'));
    var dataReceived14 = JSON.parse(localStorage.getItem('par2'));
    var dataReceived15 = JSON.parse(localStorage.getItem('bar3'));
    var dataReceived16 = JSON.parse(localStorage.getItem('par3'));
    var dataReceived17 = [ ]
    dataReceived17[0] = JSON.parse(localStorage.getItem('g1'));
    dataReceived17[1] = JSON.parse(localStorage.getItem('g2'));
    dataReceived17[2] = JSON.parse(localStorage.getItem('g3'));
    dataReceived17[3] = JSON.parse(localStorage.getItem('g4'));
    var dataReceived18 = [ ]
    dataReceived18[0] = JSON.parse(localStorage.getItem('g21'));
    dataReceived18[1] = JSON.parse(localStorage.getItem('g22'));
    dataReceived18[2] = JSON.parse(localStorage.getItem('g23'));
    dataReceived18[3] = JSON.parse(localStorage.getItem('g24'));
    var dataReceived19 = [ ]
    dataReceived19[0] = JSON.parse(localStorage.getItem('g31'));
    dataReceived19[1] = JSON.parse(localStorage.getItem('g32'));
    dataReceived19[2] = JSON.parse(localStorage.getItem('g33'));
    dataReceived19[3] = JSON.parse(localStorage.getItem('g34'));
    var dataReceived20 = JSON.parse(localStorage.getItem('z1'));
    var dataReceived21 = JSON.parse(localStorage.getItem('z2'));
    var dataReceived22 = JSON.parse(localStorage.getItem('z3'));
    var dataReceived23 = JSON.parse(localStorage.getItem('tur1'));
    var dataReceived24 = JSON.parse(localStorage.getItem('tur2'));
    var dataReceived25 = JSON.parse(localStorage.getItem('energy1'));
    var dataReceived26 = JSON.parse(localStorage.getItem('energy2'));

    if(dataReceived5){
        if(dataReceived5.image === 1){
            changeSegmentColor(0, "orange");
            changeSegmentColor(1, "orange");
            changeSegmentColor(4, "orange");
            changeSegmentColor(7, "orange");
            changeSegmentColor(8, "orange");
            changeSegmentColor(9, "orange");
        } else {
            changeSegmentColor(0, "grey");
            changeSegmentColor(1, "grey");
            changeSegmentColor(4, "grey");
            changeSegmentColor(7, "grey");
            changeSegmentColor(8, "grey");
            changeSegmentColor(9, "grey");
        }
    }
    if(dataReceived6){
        if(dataReceived6.image === 1){
            changeSegmentColor(0, "orange");
            changeSegmentColor(1, "orange");
            changeSegmentColor(4, "orange");
            changeSegmentColor(5, "orange");
            changeSegmentColor(6, "orange");
        } else {
            changeSegmentColor(0, "grey");
            changeSegmentColor(1, "grey");
            changeSegmentColor(4, "grey");
            changeSegmentColor(5, "grey");
            changeSegmentColor(6, "grey");
        }
    }
    if(dataReceived7){
        if(dataReceived7.image === 1){
            changeSegmentColor(0, "orange");
            changeSegmentColor(1, "orange");
            changeSegmentColor(2, "orange");
            changeSegmentColor(3, "orange");
        } else {
            changeSegmentColor(0, "grey");
            changeSegmentColor(1, "grey");
            changeSegmentColor(2, "grey");
            changeSegmentColor(3, "grey");
        }
    }
    if(dataReceived){
         document.getElementById("ugolL").textContent = (dataReceived.ugol).toFixed(4)
    }
    if(dataReceived3){
         document.getElementById("mazutL").textContent = (dataReceived3.mazut).toFixed(4)
    }
    if(dataReceived8){
        if(dataReceived8.image === 1){
            changeSegmentColor(10, "green");
            changeSegmentColor(14, "green");
            changeSegmentColor(17, "green");
            changeSegmentColor(18, "green");
            changeSegmentColor(19, "green");
        } else {
            changeSegmentColor(10, "grey");
            changeSegmentColor(14, "grey");
            changeSegmentColor(17, "grey");
            changeSegmentColor(18, "grey");
            changeSegmentColor(19, "grey");
        }
    }
    if(dataReceived9){
        if(dataReceived9.image === 1){
            changeSegmentColor(10, "green");
            changeSegmentColor(14, "green");
            changeSegmentColor(15, "green");
            changeSegmentColor(16, "green");
        } else {
            changeSegmentColor(10, "grey");
            changeSegmentColor(14, "grey");
            changeSegmentColor(15, "grey");
            changeSegmentColor(16, "grey");
        }
    }
    if(dataReceived10){
        if(dataReceived10.image === 1){
            changeSegmentColor(10, "green");
            changeSegmentColor(11, "green");
            changeSegmentColor(12, "green");
            changeSegmentColor(13, "green");
        } else {
            changeSegmentColor(10, "grey");
            changeSegmentColor(11, "grey");
            changeSegmentColor(12, "grey");
            changeSegmentColor(13, "grey");
        }
    }
    if(dataReceived11){
        var tempL = document.getElementById("tempL")
        var prL = document.getElementById("prL")       
        height = (dataReceived11.t * 245)/dataReceived11.g
        progressBar.style.height = height+'px'
        tempL.textContent = (dataReceived11.t).toFixed(2) + "°C"
        prL.textContent = (dataReceived11.s).toFixed(2)+" кгс/см3"
    }
    if(dataReceived12){
        var parL = document.getElementById("parL")
        var parTotal = document.getElementById("parTotal")
        parL.textContent = dataReceived12.perHour + " т/ч"
        parTotal.textContent = (dataReceived12.total).toFixed(2)+" т"
    }
    if(dataReceived13){
        var tempL = document.getElementById("tempL2")
        var prL = document.getElementById("prL2")       
        height2 = (dataReceived13.t * 245)/dataReceived13.g
        progressBar2.style.height = height2+'px'
        tempL.textContent = (dataReceived13.t).toFixed(2) + "°C"
        prL.textContent = (dataReceived13.s).toFixed(2)+" кгс/см3"
    }
    if(dataReceived14){
        var parL = document.getElementById("parL2")
        var parTotal = document.getElementById("parTotal2")
        parL.textContent = dataReceived14.perHour + " т/ч"
        parTotal.textContent = (dataReceived14.total).toFixed(2)+" т"
    }
    if(dataReceived15){
        var tempL = document.getElementById("tempL3")
        var prL = document.getElementById("prL3")       
        height3 = (dataReceived15.t * 245)/dataReceived15.g
        progressBar3.style.height = height3+'px'
        tempL.textContent = (dataReceived15.t).toFixed(2) + "°C"
        prL.textContent = (dataReceived15.s).toFixed(2)+" кгс/см3"
    }
    if(dataReceived16){
        var parL = document.getElementById("parL3")
        var parTotal = document.getElementById("parTotal3")
        parL.textContent = dataReceived16.perHour + " т/ч"
        parTotal.textContent = (dataReceived16.total).toFixed(2)+" т"
    }
    if(dataReceived2){
        if(dataReceived2.image === 1){
            if(variable === 0){
                var imageGif = document.getElementById("image")
                imageGif.src = "{% static 'convey2.gif' %}"
                variable = 1;
            }
        } else {
            if(variable === 1){
                var imageGif = document.getElementById("image")
                imageGif.src = "{% static 'convey1.gif' %}"
                variable = 0;
                var turb = document.getElementById("turbine1")
                turb.src = "{% static 'turbineoff.jpeg' %}"
            }
        }
    }
    if(dataReceived4){
    if(dataReceived4.image === 1){
        if(variable2 === 0){
            var imageGif = document.getElementById("mazut-image")
            imageGif.src = "{% static 'mazut2.gif' %}"
            variable2 = 1;
        }
    } else {
        if(variable2 === 1){
            var imageGif = document.getElementById("mazut-image")
            imageGif.src = "{% static 'mazut1.png' %}"
            variable2 = 0;
        }
    }
}
    for(var i =0; i<4; i++){
        if(dataReceived17[i]){
            if(dataReceived17[i].image===1){
                if(variables[i]===0){
                    var newImg = document.createElement('img');
                    newImg.src = "{% static 'GlIU.gif' %}";
                    newImg.alt = 'Ogon'; 
                    newImg.id = 'f'+(i+1); 
                    document.body.appendChild(newImg);
                    variables[i]=1
                }
            } else {
                if(document.getElementById('f'+(i+1))){
                    var element = document.getElementById('f'+(i+1));
                element.remove();
                }
                
            }
        }
        if(dataReceived18[i]){
            if(dataReceived18[i].image===1){
                if(variables2[i]===0){
                    var newImg = document.createElement('img');
                    newImg.src = "{% static 'GlIU.gif' %}";
                    newImg.alt = 'Ogon'; 
                    newImg.id = 'f2'+(i+1); 
                    document.body.appendChild(newImg);
                    variables2[i]=1
                }
            } else {
                if(document.getElementById('f2'+(i+1))){
                    var element = document.getElementById('f2'+(i+1));
                    element.remove();
                }
            }
        }
        if(dataReceived19[i]){
            if(dataReceived19[i].image===1){
                if(variables3[i]===0){
                    var newImg = document.createElement('img');
                    newImg.src = "{% static 'GlIU.gif' %}";
                    newImg.alt = 'Ogon'; 
                    newImg.id = 'f3'+(i+1); 
                    document.body.appendChild(newImg);
                    variables3[i]=1
                }
            } else {
                if(document.getElementById('f3'+(i+1))){
                    var element = document.getElementById('f3'+(i+1));
                    element.remove();
                }
            }
        }
    }    
    if(dataReceived20){
        if(dataReceived20.z === 1){
            var Zadvizhka = document.getElementById("z1")
            Zadvizhka.src = "{% static 'z_active.png' %}"
            changeSegmentColor(20, "deeppink");
            changeSegmentColor(23, "deeppink");
            changeSegmentColor(26, "deeppink");
            changeSegmentColor(27, "deeppink");
            changeSegmentColor(28, "deeppink");
            changeSegmentColor(29, "deeppink");
            z1=1
        } else {
            var Zadvizhka = document.getElementById("z1")
            Zadvizhka.src = "{% static 'z_inactive.png' %}"
            z1=0
            changeSegmentColor(20, "grey");
            changeSegmentColor(23, "grey");
            if(z2===0 && z3===0
            ){
                changeSegmentColor(26, "grey");
                changeSegmentColor(27, "grey");
                changeSegmentColor(28, "grey");
                changeSegmentColor(29, "grey");
            }
        }
    }
    if(dataReceived21){
        if(dataReceived21.z === 1){
            var Zadvizhka = document.getElementById("z2")
            Zadvizhka.src = "{% static 'z_active.png' %}"
            changeSegmentColor(21, "deeppink");
            changeSegmentColor(24, "deeppink");
            changeSegmentColor(26, "deeppink");
            changeSegmentColor(27, "deeppink");
            changeSegmentColor(28, "deeppink");
            changeSegmentColor(29, "deeppink");
            z2=1
        } else {
            var Zadvizhka = document.getElementById("z2")
            Zadvizhka.src = "{% static 'z_inactive.png' %}"
            changeSegmentColor(21, "grey");
            changeSegmentColor(24, "grey");
            z2=0
            if(z1===0 && z3===0){
                changeSegmentColor(26, "grey");
                changeSegmentColor(27, "grey");
                changeSegmentColor(28, "grey");
                changeSegmentColor(29, "grey");
            }
        }
    }
    if(dataReceived22){
        if(dataReceived22.z === 1){
            var Zadvizhka = document.getElementById("z3")
            Zadvizhka.src = "{% static 'z_active.png' %}"
            changeSegmentColor(22, "deeppink");
            changeSegmentColor(25, "deeppink");
            changeSegmentColor(26, "deeppink");
            changeSegmentColor(27, "deeppink");
            changeSegmentColor(28, "deeppink");
            changeSegmentColor(29, "deeppink");
            z3=1
        } else {
            var Zadvizhka = document.getElementById("z3")
            Zadvizhka.src = "{% static 'z_inactive.png' %}"
            changeSegmentColor(22, "grey");
            changeSegmentColor(25, "grey");
            z3=0
            if(z1===0 && z2===0){
                changeSegmentColor(26, "grey");
                changeSegmentColor(27, "grey");
                changeSegmentColor(28, "grey");
                changeSegmentColor(29, "grey");
            }
        }
    }
    if(dataReceived23){
        if(dataReceived23.image === 1){
            var img = document.getElementById("k1")
            img.src = "{% static 'klapan_active.png' %}"
        } else {
            var img = document.getElementById("k1")
            img.src = "{% static 'klapan_inactive.png' %}"
        }
    }
    if(dataReceived24){
        if(dataReceived24.image === 1){
            var img = document.getElementById("k2")
            img.src = "{% static 'klapan_active.png' %}"
        } else {
            var img = document.getElementById("k2")
            img.src = "{% static 'klapan_inactive.png' %}"
        }
    }
    if(dataReceived25){
        var par1 = document.getElementById("par1")
        var mw1 = document.getElementById("mw1")
        var kwh1 = document.getElementById("kwh1")
        par1.textContent=(dataReceived25.par).toFixed(2) + " т/ч"
        mw1.textContent=(dataReceived25.energy).toFixed(2) + "МВт"
        kwh1.textContent=(dataReceived25.total).toFixed(2) + "кВт*ч"
        if(dataReceived25.image === 1){
            var img = document.getElementById("turbine1")
            img.src = "{% static 'turbineon.gif' %}"
        } else {
            var img = document.getElementById("turbine1")
            img.src = "{% static 'turbineoff.jpeg' %}"
        }
    }
    if(dataReceived26){
        var par1 = document.getElementById("par2")
        var mw1 = document.getElementById("mw2")
        var kwh1 = document.getElementById("kwh2")
        par1.textContent=(dataReceived26.par).toFixed(2)+ " т/ч"
        mw1.textContent=(dataReceived26.energy).toFixed(2) + "МВт"
        kwh1.textContent=(dataReceived26.total).toFixed(2) + "кВт*ч"
        if(dataReceived26.image === 1){
            var img = document.getElementById("turbine2")
            img.src = "{% static 'turbineon.gif' %}"
        } else {
            var img = document.getElementById("turbine2")
            img.src = "{% static 'turbineoff.jpeg' %}"
        }
    }
}, 1000);
    document.addEventListener('DOMContentLoaded', function() {
        const startButton = document.getElementById('startButton');
        canvas = document.getElementById("canvas");
        ctx = canvas.getContext("2d");
        canvas.width = 1920;
        canvas.height = 1080;
        ctx.lineWidth = 4;
        drawLineSegments();
        var progressBar = document.getElementById('tempBar1');
        progressBar.style.height = 0
      
});

  </script>
</head>
<body>
    <canvas id="canvas"></canvas>
    <img src="{% static 'convey1.gif' %}" id="image">
    <label class="label" id = "ugolL">0.0000</label>
    <img src="{% static 'mazut1.png' %}" id="mazut-image">
    <label class="label_mazut" id = "mazutL">0.0000</label>
    <img src="{% static 'kotel.png' %}" id="kotel_image">
    <img src="{% static 'kotel.png' %}" id="kotel_image2">
    <img src="{% static 'kotel.png' %}" id="kotel_image3">
    <label id="tempL">0°C</label>
    <label id="prL">0 кгс/см3</label>
    <label id="parL">0 т/ч</label>
    <label id="parTotal">0 т</label>
    <label id="tempL2">0°C</label>
    <label id="prL2">0 кгс/см3</label>
    <label id="parL2">0 т/ч</label>
    <label id="parTotal2">0 т</label>
    <label id="tempL3">0°C</label>
    <label id="prL3">0 кгс/см3</label>
    <label id="parL3">0 т/ч</label>
    <label id="parTotal3">0 т</label>
    <div id="bar1">
        <div id="tempBar1"></div>
    </div>
    <div id="bar2">
        <div id="tempBar2"></div>
    </div>
    <div id="bar3">
        <div id="tempBar3"></div>
    </div>
    <img src="{% static 'z_inactive.png' %}" id="z1">
    <img src="{% static 'z_inactive.png' %}" id="z2">
    <img src="{% static 'z_inactive.png' %}" id="z3">
    <img src="{% static 'klapan_inactive.png' %}" id="k1">
    <img src="{% static 'klapan_inactive.png' %}" id="k2">
    <img src="{% static 'turbineoff.jpeg' %}" id="turbine1">
    <label id="par1">0 т/ч</label>
    <label id="mw1">0 МВт</label>
    <label id="kwh1">0 кВт*ч</label>
    <label id="par2">0 т/ч</label>
    <label id="mw2">0 МВт</label>
    <label id="kwh2">0 кВт*ч</label>
    <img src="{% static 'turbineoff.jpeg' %}" id="turbine2">
    <div id="graph-container">
    </div>
    <div id="graph-container2"></div>
    <script src="{% static 'd3.v7.min.js' %}"></script>
    <script>
        // Fetch data from the Django view
        fetch('/graph-data/')
          .then(response => response.json())
          .then(data => createGraph(data))
          .catch(error => console.error('Error fetching data:', error));
    
        // Function to create the D3.js graph
        function createGraph(data) {
          const margin = { top: 20, right: 30, bottom: 30, left: 40 };
          const width = 800 - margin.left - margin.right;
          const height = 400 - margin.top - margin.bottom;
          data.sort((a,b)=>a.timestamp.localeCompare(b.timestamp))
          const svg = d3.select("#graph-container")
            .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", `translate(${margin.left},${margin.top})`);
          const xScale = d3.scaleTime()
            .domain(d3.extent(data, d => new Date(d.timestamp)))
            .range([0, width]);
    
          const yScale = d3.scaleLinear()
            .domain([0, d3.max(data, d => d.value)])
            .range([height, 0]);
    
          const line = d3.line()
            .x(d => xScale(new Date(d.timestamp)))
            .y(d => yScale(d.value));
    
          svg.append("path")
            .datum(data)
            .attr("transform", `translate(${margin.left},0)`)
            .attr("fill", "none")
            .attr("stroke", "steelblue")
            .attr("stroke-width", 2)
            .attr("d", line)
            .on("mousemove", showTooltip) // Show tooltip on mousemove
            .on("mouseout", hideTooltip);
    
            
          svg.append("g")
            .attr("transform", `translate(${margin.left},${height})`)
            .call(d3.axisBottom(xScale));
    
          svg.append("g")
            .attr("transform", `translate(${margin.left},0)`)
            .call(d3.axisLeft(yScale));


    // Append y-axis label
    svg.append("text")
      .attr("class", "axis-label")
      .attr("x", -height / 2)
      .attr("y", 10)
      .attr("transform", "rotate(-90)")
      .text("Уголь, тонн в час");
            function showTooltip(event) {
                const mouseX = event.clientX;
                const mouseY = event.clientY;

                // Convert mouse coordinates to graph coordinates
                const graphX = mouseX - margin.left;
                const graphY = mouseY - margin.top;

                // Convert graph coordinates to data values
                const xValue = xScale.invert(graphX);
                const yValue = yScale.invert(graphY);

                // Display the tooltip at the cursor position with the data value
                tooltip.style("left", (event.pageX + 10) + "px")
                    .style("top", (event.pageY - 30) + "px")
                    .html(`${yValue}`); // Adjust the value display format as needed

                tooltip.style("display", "block");
            }

            // Function to hide the tooltip
            function hideTooltip() {
                tooltip.style("display", "none");
            }

            // Create the tooltip element
            const tooltip = d3.select("body").append("div")
                .attr("class", "tooltip")
                .style("display", "none");
          
            
        }
        const socket = new WebSocket('ws://localhost:8002/ws/graph/');

        socket.onmessage = function (event) {
        const newData = JSON.parse(event.data);
        newData.sort((a,b)=>a.timestamp.localeCompare(b.timestamp))
        updateGraph(newData);
        };
        socket.onopen = () => {
            console.log('WebSocket connection opened.');
        };
        function updateGraph(data){
            console.log("graph updated")
            const margin = { top: 20, right: 30, bottom: 30, left: 40 };
          const width = 800 - margin.left - margin.right;
          const height = 400 - margin.top - margin.bottom;
    
          d3.select("#graph-container").select("svg").remove()
          const svg = d3
            .select("#graph-container")
            .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", `translate(${margin.left},${margin.top})`);
            
          const xScale = d3.scaleTime()
            .domain(d3.extent(data, d => new Date(d.timestamp)))
            .range([0, width]);
    
          const yScale = d3.scaleLinear()
            .domain([0, d3.max(data, d => d.value)])
            .range([height, 0]);
    
          const line = d3.line()
            .x(d => xScale(new Date(d.timestamp)))
            .y(d => yScale(d.value));
    
          svg.append("path")
            .datum(data)
            .attr("transform", `translate(${margin.left},0)`)
            .attr("fill", "none")
            .attr("stroke", "steelblue")
            .attr("stroke-width", 2)
            .attr("d", line)
            .on("mousemove", showTooltip) // Show tooltip on mousemove
            .on("mouseout", hideTooltip);
    
            
          svg.append("g")
            .attr("transform", `translate(${margin.left},${height})`)
            .call(d3.axisBottom(xScale));
    
          svg.append("g")
            .attr("transform", `translate(${margin.left},0)`)
            .call(d3.axisLeft(yScale));
            svg.append("text")
      .attr("class", "axis-label")
      .attr("x", -height / 2)
      .attr("y", 10)
      .attr("transform", "rotate(-90)")
      .text("Уголь, тонн в час");
            function showTooltip(event) {
                const mouseX = event.clientX;
                const mouseY = event.clientY;

                // Convert mouse coordinates to graph coordinates
                const graphX = mouseX - margin.left;
                const graphY = mouseY - margin.top;

                // Convert graph coordinates to data values
                const xValue = xScale.invert(graphX);
                const yValue = yScale.invert(graphY);

                // Display the tooltip at the cursor position with the data value
                tooltip.style("left", (event.pageX + 10) + "px")
                    .style("top", (event.pageY - 30) + "px")
                    .html(`${yValue}`); // Adjust the value display format as needed

                tooltip.style("display", "block");
            }

            // Function to hide the tooltip
            function hideTooltip() {
                tooltip.style("display", "none");
            }

            // Create the tooltip element
            const tooltip = d3.select("body").append("div")
                .attr("class", "tooltip")
                .style("display", "none");
          
        }
        fetch('/kotel-graph-data/')
          .then(response => response.json())
          .then(data => createKotelGraph(data))
          .catch(error => console.error('Error fetching data:', error));
        function createKotelGraph(data){
            const margin = { top: 20, right: 30, bottom: 30, left: 40 };
          const width = 800 - margin.left - margin.right;
          const height = 400 - margin.top - margin.bottom;
          data.sort((a,b)=>a.timestamp.localeCompare(b.timestamp))
          console.log(data[0].kotel_id)
          const svg = d3.select("#graph-container2")
            .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", `translate(${margin.left},${margin.top})`);
          const xScale = d3.scaleTime()
            .domain(d3.extent(data, d => new Date(d.timestamp)))
            .range([0, width]);
    
          const yScale = d3.scaleLinear()
            .domain([0, d3.max(data, d => d.value)])
            .range([height, 0]);
    
          const line = d3.line()
            .x(d => xScale(new Date(d.timestamp)))
            .y(d => yScale(d.value));
          for(var i=1; i<4; i++){
            const filteredData = data.filter(item => item.kotel_id === i);
            if(i===1){
                color = "red"
            } else if(i === 2){
                color = 'green'
            } else {
                color = 'yellow'
            }
            svg.append("path")
            .datum(filteredData)
            .attr("transform", `translate(${margin.left},0)`)
            .attr("fill", "none")
            .attr("stroke", color)
            .attr("stroke-width", 2)
            .attr("d", line)
          }
          
    
            
          svg.append("g")
            .attr("transform", `translate(${margin.left},${height})`)
            .call(d3.axisBottom(xScale));
    
          svg.append("g")
            .attr("transform", `translate(${margin.left},0)`)
            .call(d3.axisLeft(yScale));


    // Append y-axis label
    svg.append("text")
      .attr("class", "axis-label")
      .attr("x", -height / 2)
      .attr("y", 10)
      .attr("transform", "rotate(-90)")
      .text("Пар, тонн в час");
          }
          const socket2 = new WebSocket('ws://localhost:8002/ws/graph2/');

            socket2.onmessage = function (event) {
            const newData2 = JSON.parse(event.data);
            newData2.sort((a,b)=>a.timestamp.localeCompare(b.timestamp))
            updateKotelGraph(newData2);
            };
        socket.onopen = () => {
            console.log('WebSocket connection opened.');
        };
        function updateKotelGraph(data){
            console.log("kote graph updated")
            const margin = { top: 20, right: 30, bottom: 30, left: 40 };
          const width = 800 - margin.left - margin.right;
          const height = 400 - margin.top - margin.bottom;
          d3.select("#graph-container2").select("svg").remove();
          const svg = d3.select("#graph-container2")
            .append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", `translate(${margin.left},${margin.top})`);
          const xScale = d3.scaleTime()
            .domain(d3.extent(data, d => new Date(d.timestamp)))
            .range([0, width]);
    
          const yScale = d3.scaleLinear()
            .domain([0, d3.max(data, d => d.value)])
            .range([height, 0]);
    
          const line = d3.line()
            .x(d => xScale(new Date(d.timestamp)))
            .y(d => yScale(d.value));
          for(var i=1; i<4; i++){
            const filteredData = data.filter(item => item.kotel_id === i);
            if(i===1){
                color = "red"
            } else if(i === 2){
                color = 'green'
            } else {
                color = 'yellow'
            }
            svg.append("path")
            .datum(filteredData)
            .attr("transform", `translate(${margin.left},0)`)
            .attr("fill", "none")
            .attr("stroke", color)
            .attr("stroke-width", 2)
            .attr("d", line)
          }
          
    
            
          svg.append("g")
            .attr("transform", `translate(${margin.left},${height})`)
            .call(d3.axisBottom(xScale));
    
          svg.append("g")
            .attr("transform", `translate(${margin.left},0)`)
            .call(d3.axisLeft(yScale));


    // Append y-axis label
    svg.append("text")
      .attr("class", "axis-label")
      .attr("x", -height / 2)
      .attr("y", 10)
      .attr("transform", "rotate(-90)")
      .text("Пар, тонн в час");
       
        }
      </script>
</body>
</html>